@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Press+Start+2P&family=Roboto+Condensed:wght@300&family=Share+Tech+Mono&family=Turret+Road:wght@500&display=swap");

* {
	margin: auto;
	padding: 0;
}

body {
	background-image: url("/images/grid-pattern.png"), linear-gradient(to bottom, #31418c, #1c2559);
	margin: auto;
	font-family: "Roboto Condensed", sans-serif;
	overflow-x: hidden;
	background-size: 80px;
}

h1 {
	font-size: 120px;
	color: #1d1346;
	line-height: 100px;
	font-family: liquorstore-3d, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h2 {
	font-family: "Share Tech Mono", monospace;
}

h3 {
	font-family: "Turret Road", cursive;
}

figcaption {
	text-align: center;
	font-family: "Share Tech Mono", monospace;
	margin: 5px 0 15px 0;
}

span {
	display: inline-block;
}

.body-grid {
	display: grid;
	width: 100vw;
	height: 100vh;
}

.title {
	display: inline-block;
}

#grid-pattern {
	width: 100vw;
	height: 100vh;
}

.window-icons {
	text-decoration: none;
	float: right;
}

.window-icons li {
	display: inline-block;
	width: 40px;
}

.minimize,
.windowed,
.close {
	width: 40px;
	height: 20px;
	border: 2px solid #1d1346;
}

.minimize {
	background: #32517f url("images/minimize-icon.png") no-repeat center;
	background-size: 15px;
}

.windowed {
	background: #32517f url("images/windowed-icon.png") no-repeat center;
	background-size: 15px;
}

.close {
	background: #32517f url("images/close-icon.png") no-repeat center;
	background-size: 15px;
}

.window-outer {
	background-color: #8a96db;
	border: 2px solid #1d1346;
	/* width: 90%;
	height: 90%; */
	padding: 1%;
}

.window-inner {
	background-color: white;
	/* width: 95%;
	height: 90%; */
	margin-top: 1%;
	text-align: center;
	border: 2px solid #1d1346;
}

.folder {
	width: 180px;
	height: 150px;
	background: url("images/closed-folder-icon.png") no-repeat center;
	background-size: 100px;
}

.folder-dir li a {
	color: white;
}

.folder:hover {
	background-image: url("images/open-folder-icon.png");
}
