body {
	overflow: hidden;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

ul li a {
	color: #8a96db;
}

ul li {
	display: block;
	text-decoration: none;
}

.body-grid {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 80% 20%;
	width: 100vw;
	height: 100vh;
}

.nav-bar {
	grid-row-start: 2;
	margin-top: 0;
}

.nav-bar ul li {
	margin-right: 10px;
}

.nav-bar ul li a {
	color: white;
}

.reading-outer {
	background-color: #8a96db;
	border: 2px solid #1d1346;
	width: 90%;
	height: 90%;
	padding: 1%;
	grid-column-start: 2;
	grid-row-start: 1;
	grid-row-end: span 2;
	margin-top: 0;
}

.reading-inner {
	background-color: white;
	margin-top: 2%;
	text-align: center;
	border: 2px solid #1d1346;
	padding: 20px;
	height: 85%;
}

.window-outer {
	width: 100%;
	padding: 2%;
}

.window-inner {
	margin-top: 3%;
	border: 2px solid #1d1346;
	padding: 20px;
}

#reading-list li {
	display: block;
	text-decoration: none;
}

#reading-list li:hover {
	background-color: #ffdcb3;
}

.folder {
	width: 80px;
	height: 50px;
	background-size: 50px;
}

.window-icons {
	display: inline;
	text-decoration: none;
	float: right;
	margin-right: 1%;
}

.window-icons li {
	display: inline-block;
}

#reading2,
#reading3,
#reading4,
#reading5 {
	display: none;
}
