body {
	padding-bottom: 20px;
}
iframe {
	width: 100%;
	height: 100%;
	border: none;
}

img {
	width: 100%;
}

ul li a {
	color: #8a96db;
}

.body-grid {
	grid-template-columns: 22.5% 22.5% 55%;
	grid-template-rows: 75% 25%;
}

.nav-bar {
	display: inline-block;
	grid-row-start: 2;
	grid-column-end: span 2;
	margin-top: 0;
}

.window-inner {
	height: 90%;
	width: 98%;
}

.exercise-outer {
	background-color: #8a96db;
	border: 2px solid #1d1346;
	height: 100vh;
	width: 95%;
	padding: 1%;
	margin-top: 20px;
}

.exercise-inner {
	background-color: white;
	height: 90%;
	margin-top: 1%;
	text-align: center;
	border: 2px solid #1d1346;
}

#exercise1 {
	grid-column-start: 3;
}

#exercise1 iframe {
	width: 420px;
	height: 440px;
	overflow: hidden;
}

#exercises-list {
	width: 100%;
}

#exercises-list li {
	display: block;
	text-decoration: none;
	padding: 10px;
}

#exercises-list li:hover {
	background-color: #ffdcb3;
}

.folder {
	width: 90px;
	height: 70px;
	background-size: 70px;
}

#exercise2,
#exercise3,
#exercise4,
#exercise5,
#exercise6 {
	display: none;
}

#references li {
	display: block;
	text-decoration: none;
}

.exercise-nav {
	width: 90%;
}

#references li {
	padding: 15px;
}
